<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @event.title %></h5>
      <p class="card-text"><%= @event.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Date de début : <%= @event.start_date.strftime("%d %B %Y") %></li>
      <li class="list-group-item">Durée : <%= @event.duration %> heures</li>
      <li class="list-group-item">Prix : <%= @event.price %> €</li>
      <li class="list-group-item">Lieu : <%= @event.location %></li>
    </ul>
    <div class="card-body">
      <%= link_to "Retour", events_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<% if user_signed_in? && !@event.participants.include?(current_user) %>
  <%= form_tag('/attendances', id: 'payment-form') do %>
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-amount="<%= (@event.price * 100).to_i %>"
      data-name="Mon application"
      data-description="Paiement pour <%= @event.title %>"
      data-locale="auto">
    </script>
  <% end %>
<% end %>
